*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
}
body{
    color: #333;
    background-color: #ffffff;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    background-color: rgb(225, 221, 215)



}
.logo{
    color: rgb(34, 33, 32);
    font-size: 1.5em;
    font-weight: bold;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}
.userbtn{

    padding: 10px 20px;
    border: none;
    background-color: #e5f4ff;
    border-radius: 10px;
    color: #007bff;
    cursor: pointer;
}
.hero
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
}
.hero-text{
    max-width: 50%;
}
.hero-text h1{
    font-size: 40px;
    font-weight: 700px;
    color: #333;
    line-height: 1.4;
}
.hero-text span{
    color: #007bff;
}
.hero-text p{
    font-family:cursive;
    color: grey;
    max-width: 500px;
    font-size: 16px;
  
}
.ctn-btn{
    background-color: rgb(26, 159, 255);
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    font-weight: 600px;
    color: #ffffff;
    margin-top:20px;

    
}
.hero-img img{
   width: 550px;
   height: auto;
   border-radius: 30px;

}
@media(max-width :768px)
{
    .hero{
        flex-direction: column;
        text-align: center;
        padding: 40px 0px;

    }
    .hero-text h1{
        font-size: 1.5em;
        padding: 30px 40px;
        margin: -50px;
    
    }
    .hero-text p{
        margin-top: 30px;
        text-align: center;
    }
    .hero-img img{
        max-width: 70%;
        margin-top: 20px;
    }
    .navbar{
        padding:0px;
        align-items: baseline;
        top: 0%;
        
    }

    .menubtn{
        padding: 8px;
        color: rgb(255, 255, 255);
        background-color: rgb(26, 159, 255) ;
        border: none;
        padding: 12px;
        border-radius: 10px;
       
    
    }
    .menu{
        position: relative;
        /* margin-top: 50px;
        margin-left: 320px;
        display: block; */
        display: inline-block;
        left: 158px;
        top: 48px;
        padding: 0;
        margin:0;
      
        
    
    }
    .nav-links{
        display: none;
        position: absolute;
        background-color: bisque;
        right: px;
        line-height:30px ;
        border-radius: 10px;
        padding: 10px;
        font-size: 0.9em;
        margin-right: 20px;

       

    }
    .nav-links a{
      display: block;

    }
    .menu:hover .nav-links{
        display: block;
    }
    .menu:hover .menubtn{
        background-color: grey;



}
.nav-links a:hover {
    background-color: white;
}
.userbtn{
    padding: 5px;
    margin-top: 10px;
    margin-right: 7px;

}
.logo{
   padding: 12px;

}

}
@media(min-width :768px){

.menubtn{ display: none;
    
}



}